# Ignore everything
batch/**
input/**
output/**

# Ignore cache
__pycache__
*.pyc

# Ignore folders from venv
bin/
include/
lib/
pyvenv.cfg

# Ignore files
.DS_Store
Thumbs.db
nddu.ini
*.7z
*.sav

# Ignore IDE folders
.idea/
.vscode/

# Includes
!.gitignore
!CHANGELOG.md
!images/
!input/Commands.txt
!input/Devices.txt
!input/sample_bulk_file.csv
!input/sample_port_map.csv
!keyring_tools.py
!LICENSE
!nddu.py
!README.md
!requirements.txt
